%h1 Prihlásenie

= form_tag sessions_path, :builder => ListFormBuilder, :class => "inscription" do
  %ul
    %li.clearfix
      %label E-mail
      = text_field_tag "email"
    %li.clearfix
      %label Heslo
      = password_field_tag "password"
    %li.clearfix
      %label
      = submit_tag "Prihlásiť sa", id: 'login_commit'
      
= link_to 'Zabudli ste heslo?', reset_password_sessions_path, rel: 'reset-password'
%br
= link_to 'Zabudli ste e-mailovú adresu?', nil, class: 'toggler'
.hidden Kontaktujte prosím administrátora na telefónnom čísle 0944/215048 (v pracovné dni medzi 10:00 – 18:00) alebo na e-mailovej adrese <a href="mailto:register@politikaopen.sk">register@politikaopen.sk</a>.