.box
  Aktívných používateľov:
  %strong= User.count_live
  
.clearfix
  %h1.fl Zoznam
  .fr
    %br
    = form_for :search, :builder => ListFormBuilder, :url => frontend_searches_path do |f|
      = f.text_field :name, :inline => true, :value => params[:search]
      = submit_tag "Hľadať", class: 'button_search'

#list
  %ul.alphabet.clearfix
    - ("A".."Z").each do |letter|
      %li{:class => params[:letter] == letter ? "active" : ""}
        = link_to letter, update_params(:letter => letter, :search => nil, :page => nil)
    %li{:class => params[:letter].blank? ? "active" : ""}
      = link_to "Všetko", update_params(:letter => nil, :search => nil, :page => nil)

  %table
    %tr.header
      %td.sort{:class => sort_direction_for_column(:basic_information_last_name)}
        = sort_link "Priezvisko", :basic_information_last_name
        
      %td.sort{:class => sort_direction_for_column(:basic_information_first_name)}
        = sort_link "Meno", :basic_information_first_name
      
      %td.sort{:class => sort_direction_for_column(:cached_current_party)}
        = sort_link "Politická strana", :cached_current_party
      
      %td.sort{:class => sort_direction_for_column(:cached_candidature_party)}
        = sort_link "Kandiduje za", :cached_candidature_party
      
      
      %td.sort{:class => sort_direction_for_column(:cached_candidature_election)}
        = sort_link "Kandiduje v", :cached_candidature_election

      %td.sort{:class => sort_direction_for_column(:cached_candidature_function)}
        = sort_link "Kandiduje na", :cached_candidature_function
        
      %td.sort{:class => sort_direction_for_column(:cached_candidature_town)}
        = sort_link "Mesto", :cached_candidature_town
        
      /%td.sort{:class => sort_direction_for_column(:updated_at)}
      /  = sort_link "Aktualizované", :updated_at, :desc
        
      %td
      
    - @users.each do |user|
      %tr
        %td.priezvisko= user.basic_information_last_name
        
        %td= user.basic_information_first_name
        
        %td
          = value_or_em(user.cached_current_party, "Nečlen")
             
        %td
          = value_or_em(user.cached_candidature_party, "Nekandiduje")
                    
        %td
          - if user.cached_candidature_party.present?
            = "#{user.cached_candidature_election} (#{l(user.cached_candidature_date || 10.years.ago, :format => :year)})"
          - else
            %em Nekandiduje
        
        %td
          = value_or_em(user.cached_candidature_function, "Nekandiduje")
          
        %td
          = user.cached_candidature_town
        
        /%td= l(user.updated_at, :format => :normal)
        %td= link_to "Otvoriť »", frontend_user_path(user)

  = paginate @users, window: 8