= link_to "Späť", frontend_users_path

- if @is_preview
  #flash
    %p.notice
      Vaše konto nie je aktivované a toto je iba ukážka.
      = link_to "Späť", forms_path


.clearfix
  .fl.user_page_info
    %h1= @user.name
    %table
      %tr
        %td{width: 200} Posledná úprava
        %td= l(@user.updated_at, :format => :normal)
    = render :partial => "form", :object => @info

  .fr
    .photo
      = uploaded_image(@user.value('basic_information', 'photo'), :width => 300)
    .clearfix
      = button_link_to "Zdieľať na Facebooku", share_on_facebook(@user)
      #fb-root
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/sk_SK/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      .fb-like{'data-send' => 'false', 'data-layout' => 'box_count', 'data-width' => '120', 'data-show-faces' => 'true'}
  

  
= render :partial => "form", :collection => @forms
