%p Dobrý deň,

%p na základe Vašej požiadavky na stránke politikaopen.sk Vám posielame nové heslo do Vášho on-line formulára.

%p= "Heslo: #{@password}"

= link_to "Prihlásenie do Vášho on-line formulára.", new_session_url

%p Tím projektu politikaopen

%p
  Aliancia Fair-play
  %br
  tel.: 0944 215 048
  %br
  = link_to "www.politikaopen.sk", "www.politikaopen.sk"
  %br
  = link_to "www.fair-play.sk", "www.fair-play.sk"
  %br
  = "Sme aj na #{link_to 'facebooku', 'http://facebook.com/alianciafairplay'} a #{link_to 'twitteri', 'http://twitter.com/alianciaFP'}.".html_safe

%p
  Tento e-mail bol odoslaný automaticky, preto na neho prosím neodpovedajte.
  %br
  Ak ste nežiadali o zaslanie nového hesla, považujte túto správu za bezpredmetnú.