#footer
  .navigation
    © 2012
    %a{:href => "http://www.fair-play.sk"} Aliancia Fair-play
    |
    = link_to 'Zoznam', frontend_users_path
    |
    = link_to 'Vyhľadávanie', new_frontend_search_path
    |
    = link_to 'Kontakt', page_path('contact')
    |
    = link_to 'Prihlásenie', new_session_path
#donor
  Tento projekt je spolufinancovaný z finančného mechanizmu, nórskeho finančného mechanizmu a zo štátneho rozpočtu Slovenskej republiky.
  = image_tag 'frontend/logo_norske_fondy.png', style: "margin:7px auto 0px auto; display:block; width:100px;"
  = image_tag 'frontend/logo_ca_437x30.png'

= render :partial => "layouts/analytics"